<h1>Discrete Mathematics</h1>


<table>
  <caption>Symbols</caption>
  <tr>
    <td><var>p</var> and <var>q</var></td>
    <td><var>p</var> &and; <var>q</var></td>
  </tr>
  <tr>
    <td><var>p</var> or <var>q</var></td>
    <td><var>p</var> &or; <var>q</var></td>
  </tr>
  <tr>
    <td>not <var>p</var></td>
    <td>&not;<var>p</var></td>
  </tr>
  <tr>
    <td><var>p</var> or <var>q</var> but not both</td>
    <td><var>p</var> &oplus; <var>q</var></td>
  </tr>
  <tr>
    <td><var>P</var> is logically equivalent to <var>Q</var></td>
    <td><var>P</var> &equiv; <var>Q</var></td>
  </tr>
  <tr>
    <td>if <var>p</var> then <var>q</var></td>
    <td><var>p</var> &rarr; <var>q</var></td>
  </tr>
  <tr>
    <td><var>p</var> if and only if <var>q</var></td>
    <td><var>p</var> &harr; <var>q</var></td>
  </tr>
  <tr>
    <td>for all <var>x</var></td>
    <td>&forall;<var>x</var></td>
  </tr>
  <tr>
    <td>there exists <var>m</var></td>
    <td>&exist;<var>m</var></td>
  </tr>
</table>

<h4>Variables</h4>
<dl>
  <dt><var>x</var></dt>
  <dd>Symbol <var>x</var> is placeholder</dd>
  <dt>5<var>x</var> + 2 = <var>x</var><sup>3</sup></dt>
  <dd>Is there a number <var>x</var> that when multiplied
      times 5 and added 2 is equal to its cube?</dd>
</dl>

<h4>Statements</h4>
<dl>
  <dt>Universal statement</dt>
  <dd>Property is true for all elements in set.</dd>
  <dt>Conditional statement</dt>
  <dd>If one property is true another must also be true.</dd>
  <dt>Existential statement</dt>
  <dd>The property is true for at least one thing</dd>
</dl>

<h4>Statement examples</h4>
<dl>
  <dt>For all cats <var>x</var>, if <var>x</var> is black then it belongs to a witch</dt>
  <dd>Universal conditional statement</dd>
  <dt>For all witches <var>x</var>, there is black cat <var>y</var> belonging
      to witch <var>x</var></dt>
  <dd>Universal existential statement</dd>
  <dt>There is a witch who is at least as powerful as all the other witches</dt>
  <dd>Existential universal statement</dd>
</dl>


<h4>Sets</h4>


