

<h1>Programming Languages</h1>

<p>
  Repositories and tutorials related to specific programming languages are available here.
</p>

<h2>Programs</h2>

<ul>

  <li>
    <b>C#</b>
    <ul>
      <li>
        <cite>Hydrocarbons</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/console/hydrocarbons.cs">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>C++</b>
    <ul>
      <li>
        Solutions to <cite>C++ Primer Plus</cite>
        exercises - <a href="https://github.com/srgx/CPP">link</a>.
      </li>
      <li>
        <cite>Mathematics and Physics for Programmers</cite> algorithms -
        <a href="https://github.com/srgx/M-Phys">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Dylan</b>
    <ul>
      <li>
        <cite>Sudoku</cite> -
        <a href="https://github.com/srgx/Miscellaneous/blob/main/console/sudoku/sudoku.dylan">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Elixir</b>
    <ul>
      <li>
        <cite>Tarot</cite> -
        <a href="https://github.com/srgx/Miscellaneous/blob/main/console/tarot.exs">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Euphoria</b>
    <ul>
      <li><cite>Spring bugs</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/console/bugs.ex">link</a>.</li>
      <li><cite>Stack programming</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/console/stack.ex">link</a>.</li>
      <li><cite>Travelling salesman heuristics</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/console/travel.ex">link</a>.</li>
    </ul>
  </li>
  
  <li>
    <b>Forth</b>
    <ul>
      <li>
        <cite>Starting FORTH</cite> examples and exercises -
        <a href="https://github.com/srgx/Forth-Programming">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>J</b>
    <ul>
      <li>
        <cite>Learning J</cite> examples -
        <a href="https://github.com/srgx/J-Book">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>JavaScript</b>
    <ul>
      <li>
        <cite>Pixel</cite> -
        <a href="https://github.com/srgx/Pixel">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Nial</b>
    <ul>
      <li><cite>An Introduction to Nial</cite> examples - <a href="https://github.com/srgx/Nial-Intro">link</a>.</li>
    </ul>
  </li>

  <li>
    <b>Pharo/Smalltalk</b>
    <ul>
      <li>
        Various small programs -
        <a href="https://github.com/srgx/Pharo-Programs">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Prolog</b>
    <ul>
      <li>
        <cite>Learn Prolog Now!</cite> and <cite>Logic Programming with Prolog</cite>
        exercises - <a href="https://github.com/srgx/Prolog-Books">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Rexx</b>
    <ul>
      <li>
        <cite>Chess</cite> -
        <a href="https://github.com/srgx/Miscellaneous/blob/main/console/chess.rexx">link</a>.
      </li>
      <li>
        <cite>Morse code</cite> -
        <a href="https://github.com/srgx/Miscellaneous/tree/main/console/morse">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Racket/Scheme</b>
    <ul>
      <li>
        <cite>How to Design Programs</cite>, <cite>Simply Scheme</cite>
        and <cite>Teach Yourself Scheme in Fixnum Days</cite> programs -
        <a href="https://github.com/srgx/Racket-Books">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Ruby</b>
    <ul>
      <li>
        Algorithms from <cite>Essential Algorithms</cite>
        book - <a href="https://github.com/srgx/Essential-Algorithms">link</a>.
      </li>
    </ul>
  </li>

  <li>
    <b>Tcl</b>
    <ul>
      <li><cite>Arithmetic logic unit</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/graphics/alu.tcl">link</a>.</li>
      <li><cite>Bean machine</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/graphics/bean.tcl">link</a>.</li>
      <li><cite>Breach protocol</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/graphics/breach.tcl">link</a>.</li>
      <li><cite>Dining philosophers</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/graphics/philosophers.tcl">link</a>.</li>
      <li><cite>Lightning</cite> - <a href="https://github.com/srgx/Miscellaneous/blob/main/graphics/lightning.tcl">link</a>.</li>
    </ul>
  </li>

  <li>
    <b>Unicon</b>
    <ul>
      <li>
        Games from book <cite>Manual of Puissant Skill at Game Programming</cite> -
        <a href="https://github.com/srgx/Unicon-Games">link</a>.
      </li>
    </ul>
  </li>

</ul>

<h2>Tutorials</h2>

<ul>

  <li>
    <a href="nial">Nial</a>
  </li>
  
  <li>
    <a href="rexx">Rexx</a>
  </li>
  
  <li>
    <a href="tcl">Tcl</a>
  </li>
  
  <li>
    <a href="unicon">Unicon</a>
  </li>

</ul>

