<!doctype html>

<html lang="pl">

  <head>
    <meta charset="utf-8">
    <title>SRGX</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>

    <nav>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="algorithms">Algorithms</a></li>
        <li><a href="mathematics">Mathematics and Physics</a></li>
        <li><a href="languages">Programming Languages</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="elements">Elements</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      2021
    </footer>

  </body>

</html>
