

<h1>Mathematics and Physics</h1>

<ul>
  <li><a href="graphics3d">3D Graphics</a></li>
  <li><a href="cryptography">Cryptography</a></li>
  <li><a href="discrete">Discrete Mathematics</a></li>
  <li><a href="physics">Physics</a></li>
  <li><a href="vectors">Vectors and Matrices</a></li>
</ul>
