<h1>Miscellaneous</h1>

<p>A <a href="https://github.com/srgx/Miscellaneous">repository</a> containing
   various algorithms and small programs. All graphics programs except game of
   life and barnsley fern are written in Tcl.
</p>
