<h1>Nial</h1>

<p>
  Nial is the programming language most suitable for tasks
  involving mathematical calculations. Its main and basic data
  type is multidimensional array. Thanks to many built-in
  functions, it is easy to perform operations on vectors
  and matrices.
</p>

<ul>

  <li>
    <pre><code>
</code></pre>
<pre class="coutput"><samp>
</samp></pre>
  </li>

  <li>
    <pre><code>
</code></pre>
<pre class="coutput"><samp>
</samp></pre>
  </li>

</ul>
