<h1>Physics</h1>

<h4>Acceleration</h4>
<ul>
  <li><strong>Acceleration</strong> is a value that shows how velocity
      of an object changes. It is vector quantity.
  </li>
  <li>If <b>u</b> is initial velocity and <b>a</b> is acceleration,
      after <var>t</var> seconds values of <strong>velocity</strong> and
      <strong>displacement</strong> are:
    <ul>
      <li><b>v</b> = <b>u</b> + <b>a</b><var>t</var>.</li>
      <li><b>s</b> = <b>u</b><var>t</var> + 1/2<b>a</b><var>t</var><sup>2</sup>.</li>
    </ul>
  </li>
  <li>If only the initial and final velocities are known:
      <b>s</b> = <var>t</var>(<b>u</b> + <b>v</b>) / 2.
  </li>
  <li>Acceleration of the Earth |<b>g</b>| is approximately
      9.8 <var>m</var>/<var>s</var><sup>2</sup>.</li>
</ul>

<h4>Energy</h4>
<ul>
  <li>Its value is expressed in joules or calories.</li>
  <li>Total energy of an isolated system remains constant.</li>
  <li><strong>Kinetic energy</strong> depends on mass and speed of the object:
      <var>e</var> = 1/2 <var>m</var>|<b>v</b>|<sup>2</sup>.</li>
  <li><strong>Gravitational potential energy</strong> (g.p.e) is related to Earth
      gravity and the relative height at which object is located:
      <var>e</var> = <var>m</var><var>h</var>|<b>g</b>|.</li>
</ul>

<h4>Momentum</h4>
<ul>
  <li>It is the product of the mass and velocity of a moving object:
      <b>p</b> = <var>m</var><b>v</b>.</li>
  <li>It is conserved. A fired cannonball and a cannon moving due to
      recoil have different kinetic energy but the same momentum.</li>
</ul>

<h4>Force</h4>
<ul>
  <li>The unit of force is Newton (kg*m/s<sup>2</sup>).</li>
  <li>It is the product of a body's mass and its acceleration:
      <b>F</b> = <var>m</var><b>a</b>.</li>
</ul>

<h4>Gravitation</h4>
<ul>
  <li><strong>Gravitational constant</strong>: <var>G</var> = 6.673000 * 10
      <sup>-11</sup> m<sup>3</sup> kg<sup>-1</sup> s<sup>-2</sup>.
  </li>
  <li><strong>Force due to gravity</strong>:
      <var>F</var> =
      <var>G</var><var>m</var><sub>1</sub><var>m</var><sub>2</sub>/<var>d</var><sup>2</sup>.
  </li>
</ul>

<h4>Friction</h4>
<ul>
  <li><strong>Frictional force</strong> is the product of the force perpendicular
      to the motion of the object and the coefficient of friction, denoted by μ.
  </li>
  <li>If the body lies on a slope at an angle <var>θ</var> and vertical weight force
      <var>W</var> acts on it: <var>F</var> = μ<var>W</var>cos(<var>θ</var>).</li>
</ul>
