

<h1>Projects</h1>

<ul>
  <li><a href="miscellaneous">Miscellaneous</a> - various small programs and algorithms</li>
  <li>Pixel - old javascript test project</li>
  <li><a href="tamagotchi">Tamagotchi</a> - tamagotchi game clone</li>
</ul>
