<h1>Rexx</h1>

<p>
  Rexx is a simple interpreted programming language.
  It was designed with ease of use in mind.
  It is most commonly used for word processing tasks.
</p>

<ul>
  <li>
    To assign variables, as in many other languages, the symbol <em>=</em> is used.
    Mathematical operations are performed according to the standard order.
    Rexx program ends with the <em>exit</em> statement.
    <pre><code>a = 8
b = 2 ; c = 3

/* Display the result of the calculation */
say a + b * c

exit 0
</code></pre>
<pre class="coutput"><samp>14
</samp></pre>
  </li>
</ul>
