<h1>Tamagotchi</h1>

<p>
   Tamagotchi game clone.
   Repository can be found <a href="https://github.com/srgx/Tamagotchi">here</a>.
</p>

<h2>Screenshots</h2>

<img src="https://i.imgur.com/CoWlRhs.png" alt="Eat">
<img src="https://i.imgur.com/B2OoIdZ.png" alt="Statistics">
<br>
<img src="https://i.imgur.com/cBZ4yob.png" alt="Cure">
<img src="https://i.imgur.com/tDJU3rz.png" alt="Play">
<br>
<img src="https://i.imgur.com/pkvy941.png" alt="Menu">
<img src="https://i.imgur.com/ooSdBT0.png" alt="Direction">
