<h1>Vectors</h1>

<h4>Basics</h4>
<ul>
  <li>Vectors describe the position or displacement of objects in space.</li>
  <li>They are usually indicated by a bold lowercase letter,
      such as <b>b</b> or <b>u</b>.</li>
  <li>In two dimensions, a vector represents a displacement in the <var>x</var>
      and <var>y</var> axis directions.</li>
  <li>The <var>x</var> and <var>y</var> values are called
      <strong>vector components</strong>.</li>
  <li><strong>Magnitude</strong> of vector (<var>x</var>,<var>y</var>) is equal to
      &radic;(<var>x</var><sup>2</sup> + <var>y</var><sup>2</sup>).</li>
  <li>Vector of magnitude(length) 1 is called <strong>unit vector</strong> and is equal to
      (cos(<var>&alpha;</var>),sin(<var>&alpha;</var>)) for angle &alpha;.</li>
  <li>Unit vector is sometimes called <strong>normalized vector</strong>.</li>
  <li>Vector with starting point is called <strong>position vector</strong>.</li>
</ul>


<h4>Vector operations</h4>
<ul>
  <li>To <strong>add</strong> or <strong>subtract</strong> vectors,
      perform appropriate operation on their components:
      (2,5) + (4,3) = (6,8).</li>
  <li>To <strong>multiply</strong> vector by <strong>scalar</strong>,
      multiply each compoment: 3 * (7,9) = (21,27).</li>
  <li>To get <strong>unit vector</strong>, divide vector by its magnitude |<b>v</b>|.</li>
  <li><strong>Negative</strong> of vector <b>v</b> is denoted by -<b>v</b> and
      is pointing in the other direction:
      <b>v</b> = (2,-3), -<b>v</b> = (-2,3).</li>
  <li>To find the vector lying between two points, subtract their position vectors
      from each other. If <b>a</b> = (5,4) and <b>b</b> = (2,3),
      <b>c</b> = <b>a</b> - <b>b</b> = (3,1). Vector <b>c</b> is directed from
      <b>b</b> to <b>a</b>.</li>
  <li>To find <strong>normal vector</strong>(perpendicular to some other vector),
      swap components and negate one of them. If <b>m</b> = (8,2) its perpendicular
      vector is equal to (-2,8) or (2,-8).</li>
</ul>

<script>


</script>
