<h1>Vectors and Matrices</h1>

<h4>Basics</h4>
<ul>
  <li>Vectors describe the position or displacement of objects in space.</li>
  <li>They are usually indicated by a bold lowercase letter,
      such as <b>b</b> or <b>u</b>.</li>
  <li>In two dimensions, a vector represents a displacement in the <var>x</var>
      and <var>y</var> axis directions.</li>
  <li>The <var>x</var> and <var>y</var> values are called
      <strong>vector components</strong>.</li>
  <li><strong>Magnitude</strong> of vector (<var>x</var>,<var>y</var>) is equal to
      &radic;(<var>x</var><sup>2</sup> + <var>y</var><sup>2</sup>).</li>
  <li>Vector of magnitude(length) 1 is called <strong>unit vector</strong> and is equal to
      (cos(<var>&alpha;</var>),sin(<var>&alpha;</var>)) for angle &alpha;.</li>
  <li>Unit vector is sometimes called <strong>normalized vector</strong>.</li>
  <li>Vector with starting point is called <strong>position vector</strong>.</li>
  <li>Any point in 2D space can be represented by any 2 non-parallel vectors
      called basis vectors.</li>
  <li>If vectors are perpendicular (orthogonal) and of magnitude 1 (unit vectors),
      it is <strong>orthonormal basis</strong>.</li>
  <li>A different basis may be used to simplify calculations.</li>
</ul>


<h4>Vector operations</h4>
<ul>
  <li>To <strong>add</strong> or <strong>subtract</strong> vectors,
      perform appropriate operation on their components:
      (2,5) + (4,3) = (6,8).</li>
  <li>To <strong>multiply</strong> vector by <strong>scalar</strong>,
      multiply each component: 3 * (7,9) = (21,27).</li>
  <li>To get <strong>unit vector</strong>, divide vector by its magnitude |<b>v</b>|.</li>
  <li><strong>Negative</strong> of vector <b>v</b> is denoted by -<b>v</b> and
      is pointing in the other direction:
      <b>v</b> = (2,-3), -<b>v</b> = (-2,3).</li>
  <li>To find the vector lying between two points, subtract their position vectors
      from each other. If <b>a</b> = (5,4) and <b>b</b> = (2,3),
      <b>c</b> = <b>a</b> - <b>b</b> = (3,1). Vector <b>c</b> is directed from
      <b>b</b> to <b>a</b>.</li>
  <li>To find <strong>normal vector</strong>(perpendicular to some other vector),
      swap components and negate one of them. If <b>m</b> = (8,2) its perpendicular
      vector is equal to (-2,8) or (2,-8).</li>
  <li>Sum of products of vector components is called
      <strong>dot/scalar product</strong> and is denoted by the dot symbol:
      (5,4) &middot; (2,7) = 5 * 2 + 4 * 7 = 38.</li>
  <li>If <b>u</b> is any unit vector, dot product <b>u</b> &middot; <b>v</b>
      determines the component of <b>v</b> in the direction of <b>u</b>.</li>
  <li>The <strong>cross product</strong> of two 3D vectors is a vector
      perpendicular to both of them.</li>
  <li>To calculate the cross product, proceed in a similar way as for
      calculating matrix determinant. Each component of resulting vector
      is obtained by multiplying and subtracting the appropriate values
      from the matrix.</li>
</ul>

<h4>Matrices</h4>
<ul>
  <li>A <strong>matrix</strong> is a type of two-dimensional array in which values
      are arranged in rows and columns.</li>
  <li>Symbols such as <b>M</b> or <b>G</b> are typically used to denote matrices.</li>
  <li>To determine the number of rows and columns in a matrix,
      the &#10005; sign is used: 5 &#10005; 6.</li>
  <li>A matrix in which rows and columns have been swapped is
      called a <strong>transposition matrix</strong>.</li>
  <li>After transposition, the values lying on the <strong>leading diagonal</strong> of
      the matrix (from the upper left corner) do not change.</li>
  <li>One of the key values of a matrix is its <strong>determinant</strong>,
      denoted by the symbol |<b>M</b>|.</li>
</ul>

<h4>Matrix operations</h4>
<ul>
  <li><strong>Determinant</strong> of a 2 &#10005; 2 matrix with rows
      [<var>a</var>,<var>b</var>] and [<var>c</var>,<var>d</var>]
      is equal to <var>a</var><var>d</var> - <var>b</var><var>c</var>.
      Determinants of larger matrices are calculated using a recursive algorithm.</li>
  <li><strong>Addition</strong> and <strong>subtraction</strong> as well as
      <strong>multiplication</strong> of matrices by scalar is based on performing
      actions on the corresponding components of the matrix.</li>
  <li><strong>Matrix multiplication</strong> involves calculating the
      <strong>dot product</strong> of the rows of the first matrix and
      the columns from the second matrix. Result of this operation is
      a new matrix with different dimensions.</li>
  <li>Matrix multiplication is not commutative. Order of arguments matters.</li>
  <li><strong>Identity matrix</strong> is a matrix that, when multiplied by other matrices
      does not change them.</li>
  <li><strong>Inverse matrix</strong> is a matrix that when multiplied by another
      matrix results in an identity matrix.</li>
  <li><strong>Simultaneous equations</strong> can be solved using matrices.</li>
  <li>Matrices can represent <strong>transformations</strong>:
    <ul>
      <li>Scaling</li>
      <li>Reflection</li>
      <li>Rotation</li>
      <li>Shear</li>
    </ul>
  </li>
</ul>


<script>


</script>
