body {
  background-color: cornsilk;
  border: 2px solid powderblue;
  padding: 15px;
}

p {
  border: 2px solid tomato;
  padding: 20px;
}

nav {
  border: 2px solid green;
  text-align: center;
}

footer {
  border: 2px solid green;
  padding: 10px;
  text-align: center;
}

nav li {
  border: 2px solid red;
  display: inline;
  padding: 10px;
}

nav ul {
  padding: 0px;
}

table {
  margin: auto;
  margin-bottom: 10px;
}

td {
  border: 2px solid red;
  padding: 3px;
}

