body {
  background-color: cornsilk;
  border: 2px solid powderblue;
  padding: 15px;
}

p {
  border: 2px solid tomato;
  padding: 20px;
}

nav {
  border: 2px solid green;
  text-align: center;
}

footer {
  border: 2px solid green;
  padding: 10px;
  text-align: center;
}

nav li {
  border: 2px solid red;
  display: inline;
  padding: 5px;
  font-size:17px;
}

nav ul {
  padding: 0px;
}

table {
  margin: auto;
  margin-bottom: 10px;
}

td {
  border: 2px solid red;
  padding: 5px;
  font-size:16px;
}

#maintable td {
  padding: 1px;
  font-size:13.6px;
}

pre {
  background-color: lightgreen;
  font-size: 16px;
}

.coutput {
  background-color:lightgrey;
  color: black;
  font-size: 15px;
}

sup {
  pointer-events: none;
}
